{
  "semi": true,
  "trailingComma": "all",
  "singleQuote": true,
  "printWidth": 80,
  "useTabs": false,
  "parser": "typescript",
  "editor.formatOnSave": true,
  "proseWrap": "always",
  "tabWidth": 2,
  "bracketSpacing": true,
  "arrowParens": "avoid"
}